<div class="row">
	<div style="width:100%; text-align: right">
		<a href="/logout">Log Out</a>	
	</div>
	<div class="col-xs-6 col-xs-offset-3">
		<h1>Create a Contact</h1>
			<form style="margin-top: 20px" method="post">
			  <div class="form-group">
			    <input type="text" class="form-control" name="name" placeholder="Name" value="{{contact.name}}" required>
			  </div>
			  <div class="form-group">
			    <input type="text" class="form-control" name="email" placeholder="Email" value="{{contact.email}}" required>
			  </div>
			  <button type="submit" class="btn btn-primary">Create Contact</button>
			</form>
	</div>
</div>
<div style="width:100%; text-align: right">
		<a class="btn btn-default" href="/contacts">Proceed to relationships</a>	
</div>