<!DOCTYPE html>
<html>
  <head>
    <title>RadiUs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center style="color:white;background:transparent;"><a style='text-decoration:none' href='/'><h1 style="color:white;background:transparent" >RadiUs</h1></a></center>

    {{{body}}}
  </body>
</html>
